*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    width: 60%;
    height: 550px;
    margin: auto;
    
     
   

}

 

#slide{
 
    border: 15px solid rgb(92, 149, 224);
    
    width: 90px;
    margin-top: 30px;
}
 
 

.btnContainer{
    width: 100%;
    text-align: center;
}
.btn-left{
    margin-right: 10px;
}